@define-color text #f1dfda;
@define-color subtext1 #d8c2bc;
@define-color subtext0 #a08c87;
@define-color overlay2 #3d3230;
@define-color overlay1 #322825;
@define-color overlay0 #271d1b;
@define-color base #1a110f;
@define-color mantle #322825;
@define-color crust #140c0a;
@define-color mauve #ffb5a0;
@define-color red #ffb4ab;
@define-color sky #e7bdb2;
@define-color green #d9c58d;


