@define-color text #e2e2e9;
@define-color subtext1 #c4c6d0;
@define-color subtext0 #8e9099;
@define-color overlay2 #33353a;
@define-color overlay1 #282a2f;
@define-color overlay0 #1e2025;
@define-color base #111318;
@define-color mantle #282a2f;
@define-color crust #0c0e13;
@define-color mauve #abc7ff;
@define-color red #ffb4ab;
@define-color sky #bec6dc;
@define-color green #ddbce0;

