[urgency_low]
background = "{{ colors.surface.hex }}CC"
foreground = "{{ colors.on_surface_variant.hex }}"

[urgency_normal]
background = "{{ colors.surface.hex }}CC"
foreground = "{{ colors.on_surface.hex }}"

[urgency_critical]
background = "{{ colors.error.hex }}CC"
foreground = "{{ colors.surface.hex }}"
frame_color = "{{ colors.primary.hex }}"


