@define-color text {{ colors.on_surface.hex }};
@define-color subtext1 {{ colors.on_surface_variant.hex }};
@define-color subtext0 {{ colors.outline.hex }};
@define-color overlay2 {{ colors.surface_container_highest.hex }};
@define-color overlay1 {{ colors.surface_container_high.hex }};
@define-color overlay0 {{ colors.surface_container.hex }};
@define-color base {{ colors.surface.hex }};
@define-color mantle {{ colors.surface_container_high.hex }};
@define-color crust {{ colors.surface_container_lowest.hex }};
@define-color mauve {{ colors.primary.hex }};
@define-color red {{ colors.error.hex }};
@define-color sky {{ colors.secondary.hex }};
@define-color green {{ colors.tertiary.hex }};


